nav{
    background: linear-gradient( #d299fc, #ffffff);
}

.super-content{
    background-image: url('https://i.pinimg.com/564x/1b/0d/53/1b0d53932f6ee65c879bffffe9fea9ba.jpg');
    display: flex;
    padding: 7%;
}

img{
    max-width:  50%;
    margin:auto;
    border-radius: 2%;
    box-shadow: 0px 0px 20px 5px #2e3232;

}

.content{
    padding: 0px 30px;
    padding-top: 5%;
    margin: auto;
    color: rgb(0, 0, 0);
    text-shadow: 10px 10px 200px 50px #0ed7ff;
    font-size: larger;
   

}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}


ul{
    display: flex;
    flex-grow: 0.5;
    justify-content: space-evenly;
    font-size: 0.7em;
}

ul li{
    display: inline;
}

.social-icons a{
    color: antiquewhite;
    font-size: larger;
}

a{
    padding: 0px 20px;
    text-decoration: none;
    color: rgb(28, 26, 24);
    font-size: 1.5em;
}

i a{
    font-size: 0.8em;
    padding-left: 10px;
}

@media (max-width: 666px) 
{
    nav{
        flex-direction: column;
    }
}

@media (max-width: 666px) 
{
    ul{
        flex-direction: column;
    }
}

    @media ( max-width: 960px){

    .super-content{
        flex-direction: column;
    }
    img{
        max-width: 90%;
    }
    .content{
        max-width: 90%;
    }
}

